* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-line: none;
}

.contenedor-grid {
    display: grid;
    grid-column-gap: 2px;
    grid-template-areas: "ws" "card1" "card2" "card3" "menui" "home" "navbar";
}

@media (min-width: 640px) {
    .contenedor-grid {
        grid-template-columns: 7% 1.5fr 1.5fr 1.5fr 12%;
        grid-template-rows: 900px 90px;
        background-color: #f0f2f3;
        padding: 2%;
        grid-template-areas: "ws card1 card2 card3 menui" "home navbar navbar navbar navbar";
    }
}

.undershadow {
    grid-column: 2 span3;
    -webkit-box-shadow: 0 40px 30px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 40px 30px rgba(0, 0, 0, 0.30);
    box-shadow: 10px 40px 30px rgba(0, 0, 0, 0.50);

    transition: all 0.35s ease-in-out;
    z-index: 1;
}
/*--- card1 ---*/


.grid-item:hover {
    background-color: #162B8D;
    text-align: center;
    -webkit-box-shadow: 0 40px 30px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 40px 30px rgba(0, 0, 0, 0.30);
    box-shadow: 10px 40px 30px rgba(0, 0, 0, 0.50);
    color: #CE2C1B;
    transition: all 0.35s ease-in-out;
    z-index: 1;
}

.white-list:hover a{
    color: #ffffff;
    z-index: 2;
}

.list1 a:hover {
    color: #CE2C1B;
    z-index: 2;
}

.border {
    grid-area: card1;
    width: 0px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}

.grid-item:hover .border {
    grid-area: card1;
    width: 256px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}

/*--- card2 ---*/
/*

.white-list:hover a{
    color: #ffffff;
    z-index: 2;

}
*/

.list2 a:hover {
    color: #CE2C1B;
    z-index: 2;
}

.border {
    grid-area: card2;
    width: 0px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}

.grid-item:hover .border {
    grid-area: card2;
    width: 256px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}
/*---- card3 ----*/

/*

.white-list:hover a{
    color: #ffffff;
    z-index: 2;

}
*/

.list3 a:hover {
    color: #CE2C1B;
    z-index: 2;
}


.border {
    grid-area: card3;
    width: 0px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}

.grid-item:hover .border {
    grid-area: card3;
    width: 256px;
    border-bottom: 5px solid #CE2C1B;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    z-index: 2;
}


/*
a {
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
*/

a:visited {
    color: #162B8D;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: line-through;
}

.ws {
    grid-area: ws;
    background-color: #f0f2f3;
}

.card1 {
    grid-area: card1;
    background-color: #ffffff;
    font-size: 20px;
    color: #162B8D;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    font-weight: 800;
    text-align: center;
}

.card1 h1 {
    font-size: 11.5em;
    font-weight: 900;
    margin-bottom: -0.10em;
}

.card1 h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 1.6em;
}
.grid-item.white-list.list1:hover {
    grid-area: card1;
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    color: #ffffff;
    list-style-type: none;
    text-decoration: none;
    line-height: 2em;
    text-align: center;
}

.list1 ul {
    grid-area: card1;
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    color: #162B8D;
    list-style-type: none;
    text-decoration: none;
    line-height: 2em;
    text-align: center;
}

.card2 {
    grid-area: card2;
    background-color: #ffffff;
    font-size: 20px;
    color: #162B8D;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    font-weight: 800;
    text-align: center;
}

.card2 h1 {
    font-size: 11.5em;
    font-weight: 900;
    margin-bottom: -0.10em;
}

.card2 h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 1.6em;
}

.list2 ul {
    grid-area: card2;
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    color: #162B8D;
    list-style-type: none;
    text-decoration: none;
    line-height: 2em;
    text-align: center;
}

.card3 {
    grid-area: card3;
    background-color: #ffffff;
    color: #162B8D;
    font-size: 20px;
    color: #162B8D;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    font-weight: 800;
    text-align: center;
}

.card3 h1 {
    font-size: 11.5em;
    font-kerning: 5em;
    font-weight: 900;
    margin-bottom: -0.10em;
}

.card3 h3 {
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 1.6em;
}

.list3 ul {
    grid-area: card3;
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    color: #162B8D;
    list-style-type: none;
    text-decoration: none;
    line-height: 2em;
    text-align: center;
}

.menui {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: menui;
    grid-row-gap: 1em;
    background-color: #f0f2f3;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    font-weight: 900;
    text-align: right;
}

.title {
    grid-row: 1 / 2;
    font-weight: 900;
    font-size: 1.4em;
    color: #CE2C1B;
    text-align: right;
}

.menui ul li {
    grid-row: 2 / 3;
    font-size: 1.22em;
    color: #162B8D;
    list-style: none;
    text-decoration: none;
    line-height: 5em;
    text-align: right;
}

.menui a:hover {
    color: #CE2C1B;
}

.menui a:active {
    color: #CE2C1B;
}

.menui a::selection {
    color: white;
    background: blue;
}

.nav {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: #162B8D;
    /*    color: darkred;*/
    -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.70);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.70);
    color: #CE2C1B;
    transition: all 0.35s ease-in-out;
    z-index: 3;
    /*
    grid-area: navbar;
    background-color: #162B8D;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    text-align: center;
*/
}

.logohome {
    grid-area: home;
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #162B8D;
    /*    height: 8em;*/
    margin-top: -1em;
    -webkit-box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.70);
    box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.70);
    transition: all 0.3s ease;
    z-index: 2;
}

.image a {
    width: 440px;
    height: 112px;
    border: 0;
}

p {
    grid-column: 4 / 12;
    color: #ffffff;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    text-align: center;
    padding-top: 0.8em;
    margin-left: 5em;
}
