{% extends 'default/index.html.twig' %}

{% block body %}

<h2>Alta Paises</h2>
{{ form_start(form) }}

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.descripcion)}} </div>
        <div class="col-md-10"> {{ form_widget(form.descripcion) }} </div>
    </div>

    <button class="btn btn-primary" type="submit">Registrar</button>
{{ form_end(form) }}

{% endblock %}
